.vscode
.DS_Store
*.code-workspace
*.o
*.d
*.dbg
*.map
basic_ac6502
basic_apple2
basic_apple2_lc
basic_atari
basic_sim6502
basic_vc83_serial
basic_vc83_serial.mem
*_test
*_test.s
constants.inc
constants.h
zeropage.inc
zeropage.h
zeropage.s
version.inc
