# SPDX-FileCopyrightText: 2022-2026 Willis Blackburn
#
# SPDX-License-Identifier: MIT

FEATURES {
    STARTADDRESS: default = $0400;
}
SYMBOLS {
    __BUFFERS_SIZE__: type = export,    value = $0200;
    __HIMEM__:        type = weak,      value = $A000;
}
MEMORY {
    ZEROPAGE:   file = "",  start = $0080,          size = $0080;
    BUFFERS:    file = "",  start = $0200,          size = $0200;
    MAIN:       file = %O,  start = %S,             size = $A000 - %S,              define = yes;
}
SEGMENTS {
    ZEROPAGE:   load = ZEROPAGE,    type = zp;
    BUFFERS:    load = BUFFERS,     type = bss;
    STARTUP:    load = MAIN,        type = ro;
    CODE:       load = MAIN,        type = ro;
    VEC:        load = MAIN,        type = ro,      define = yes;
    XVEC:       load = MAIN,        type = ro,      define = yes;
    FUNC:       load = MAIN,        type = ro,      define = yes;
    XFUNC:      load = MAIN,        type = ro,      define = yes;
    PARSER:     load = MAIN,        type = ro;
    ONCE:       load = MAIN,        type = ro,      define = yes;
    BSS:        load = MAIN,        type = bss,     define = yes, align = 256;
}
